.products {
  display: flex;
  position: relative;
}

.carousel {
  position: absolute;

}

.rec.rec-arrow-left {
  position: absolute;
  left: -60px;
  top: 43%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  z-index: 99;
  box-shadow: 0 0 0 0;
  background: 0 0;

  &:hover {
    background-color: #22222254 !important;
  }

  &:focus {
    background-color: #22222254 !important;
  }

}

.rec.rec-arrow-right {
  position: absolute;
  right: -60px;
  top: 43%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  background: 0 0;
  box-shadow: 0 0 0 0;

  &:hover {
    background-color: #22222254 !important;
  }

  &:focus {
    background-color: #22222254 !important;
  }
}

.rec.rec-dot {
  width: 3px !important;
  height: 3px !important;
}

.rec.rec-dot.rec.rec-dot_active {
  background-color: #FF0000;
  box-shadow: 0 0 1px 2px #FF0000
}

.products>button {
  border: none;
  background: 0 0;
  position: absolute;
  cursor: pointer;
  padding: 10px;
  color: rgb(98, 97, 97);

  &:first-child {
    left: -5%;
    top: 45%;
  }

  &:last-child {
    right: -8%;
    top: 45%;
  }

  &:hover {
    color: red;
  }
}