.button {
  position: absolute;
  bottom: 6%;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;

  .text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700 !important;
  }

  &:hover {
    background-color: rgb(232, 232, 232);
  }

  &:hover .text {
    color: #222222 !important;
  }

  &:active .text {
    color: grey !important;
  }

  a {
    text-decoration: none;
    padding: 9px 15px;
    display: inline-block;
  }

  &:disabled {
    background-color: grey;
    border: none;
    pointer-events: none;
  }
}


.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  font-size: 16px;
  color: white;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;

  &:disabled {
    background-color: #ddd;
    color: #555;
    cursor: not-allowed;
    opacity: 0.7;
  }
}