.filter-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  .all-filters {
    cursor: pointer;
    transform: translateY(53%);
    display: flex;
    gap: 10px;

    &>span {
      transform: translateY(-35%);
      font-weight: 500;
      font-size: 1.1rem;
      letter-spacing: 0.7px;
      padding: 10px;
    }

    .sliders {
      transform: translateY(-10%);
    }
  }

  .left {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
  }

  .clear-filters {
    transform: translateY(40%);
    margin-left: -30px;
    display: flex;
    gap: 12px;
    align-items: flex-end;
    font-weight: 700;
    cursor: pointer;

    .clear-all-icon {
      font-size: 20px;
    }

    .clear-all-text {
      transform: translateY(-15%);
    }
  }

  .right {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    p {
      margin: 0 !important;
    }
  }
}

.filter-pagination {
  font-size: 13px;
  font-family: cursive;
  transform: translateX(-40%);
  text-decoration: overline;
}

.selected-filter-container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;

  div>ul {
    display: flex;
    flex-wrap: wrap;
  }

  .selected-filter-title {
    font-weight: 500;
    font-size: 13px;
    margin-left: 0;
    font-family: "Roboto";
  }

  ul {
    display: flex;
    gap: 10px;
    padding-left: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      background-color: rgb(249, 247, 247);
      padding: 2px;
      padding: 0 10px;
      border-radius: 10px;

      button {
        background-color: rgb(243, 242, 242) !important;
        border: none;
        cursor: pointer;
      }
    }
  }

  p {
    font-size: 14px;
  }
}


@media (max-width:700px) {
  .filter-form {
    justify-content: flex-end !important;
  }

  .left {
    gap: 0px !important;
  }

  fieldset:not(.all-filters) {
    display: none !important;
  }


  .right {
    display: none !important;
  }

  .all-filters {
    gap: 0 !important;
    align-items: center !important;

    &>span {
      transform: translateY(-11%) !important;
    }
  }
}