$gap-size: 4px;


.products-wrapper {
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 4px;

  .product-link {
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover font {
      color: red !important
    }
  }

  .product-card {
    flex-basis: calc(25% - #{$gap-size});

    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
    font-weight: 500;

    img {
      height: 600px;
      max-width: 100% !important;
      object-fit: cover;
      margin-bottom: 10px !important;
    }
  }
}


@media (max-width:700px) {
  .products-wrapper {
    padding: 0px !important;
      gap: 7px !important;
  }

  .product-card {
    flex-basis: calc(50% - #{$gap-size}) !important;

    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
    font-weight: 500;

    img {
      height: 253px !important;
      max-width: 100% !important;
      object-fit: cover;
      margin-bottom: 10px !important;
    }
  }
}