.App {
  display: flex;
  flex-direction: column;
}


.container {
  will-change: contents;
  opacity: 0;
  animation: fadeIn 0.1s forwards;
  animation-delay: 0.5s;
}

@media (max-width:700px) {
  .container {
    padding: 0 20px;
  }
}

.limited {
  max-width: 960px;
  margin: 0 auto;
}

.page {
  flex-grow: 1;
  min-height: 100vh;
}

.footer{
  // opacity: 0;
}