.category {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    &:last-of-type {
      margin-bottom: 6px !important;
    }
  }

  img {}


  a>font {
    font-weight: 600;
    font-size: 11.5px;
    color: #222222;
    opacity: 0.8;
    display: block;
    text-align: center;

    span {
      text-decoration: none !important;
    }
  }
}