.container {
  will-change: contents;
  min-height: 566px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-delay: 0.5s;
}

@media (max-width:700px) {
  .container {
    padding: 0 20px;
  }
}