.sort-by {
  margin: 0;


}

.css-1869usk-MuiFormControl-root {
  margin: 0 !important;

}

.value {
  letter-spacing: 0.7px !important;
  padding: 20px !important;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  background: 0 !important;
  font-weight: 800 !important;
  font-size: 1.2 rem !important;
  letter-spacing: 0.7px !important;
}