.item-wrapper .image-container {
  position: relative;
}

img {
  max-width: 222px;
  margin-right: 24px;

  &:last-of-type {
    margin: 0 !important;
  }

}

.heart-icon {
  position: absolute;
  z-index: 9999;
  color: white;
  right: 10%;
  bottom: 5%;
  cursor: pointer;
  transition: color 0.1s ease-in-out;



  &:hover {
    color: red;
  }
}

.clicked {
  color: red;
}

.item-wrapper>font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.animated {
  animation: fadeInLeft 1.3s ease-out;
}