.shopping-container-purchase {
  display: flex;
  align-items: center;

  &>font {
    font-weight: 400;
    margin-left: 5px;
  }
}

shopping-container-bag {
  display: flex;
  align-items: center;

  .shopping-icon {
    margin-right: 10px;
    font-size: 20px !important;
    opacity: 0.7;
  }


}

@media (max-width:700px) {
  .account-page {
    h1 {
      text-align: center;
    }

    flex-direction: column;

    .right-side-account-page {
      padding-left: 0;
    }
  }
}