.elevate-campaign {
  position: relative;
  margin-bottom: 20px !important;
  text-align: center;

  &>img {
    max-width: 100%;
  }

  &>h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13%;
  }

  &>button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 9%;
  }
}

@media (max-width: 700px) {
  .elevate-campaign {
    &>img {
      filter: blur(1px);
    }

    &>h1 {
      font-size: 2rem;
      bottom: 25%;
    }
  }
}