.change-password-container {
  margin: unset !important;
  padding: 0 !important;
  margin-top: 30px !important;


  .astroid {
    font-size: 14px;
  }

  justify-content: start !important;

  form {
    max-width: 576px;

    .label-wrapper {
      margin-bottom: 20px;
    }
  }

  padding: 24px 48px;
  display: flex;
  justify-content: center;
  max-width: 100% !important;
  margin: 0 auto;

  // input {
  //   color: rgb(0, 0, 0);
  //   font-size: 13px;
  //   text-align: left;
  //   width: 100% !important;
  //   margin-top: 5px;
  //   font-weight: 300;
  //   padding: 13px;
  //   box-sizing: border-box;
  //   border: 1px solid rgba(0, 0, 0, 0.307);
  //   box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
  //   outline: none;
  // }

  .eye-label {
    position: relative;

    .eye-button {
      position: absolute;
      border: 0;
      background: 0 0;
      top: 52%;
      right: 10px;
      padding: 10px;
      cursor: pointer;
    }
  }



}

.cancel-link {
  display: in;
  padding: auto;
  width: 100%;
}

.cancel-btn {
  background-color: white;

  &>.text {
    color: #222222 !important;
  }

}

@media (max-width:700px) {
  .cancel-btn{
    background-color: white !important;
  }
}