.headerNav {
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;
}

.headerNav__left>ul {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  margin: 0;
}

.headerNav__left>ul>li {
  margin-right: 16px;
}

.headerNav__left>ul>li>a {
  text-decoration: none;
  font-weight: 500;
  color: initial;
  padding: 5px 0;
}

.headerNav__left>ul>li:last-of-type {
  display: flex;
  align-items: center;
}

.horizon-icon {
  border: none;
  top: 40.5px;
  background-color: white;
  cursor: pointer;
  transform: translateY(10%);
}

.burger-menu {
  display: none;
}

.headerNav__middle>a>.logo {
  width: 120px;
  transform: translateX(10%);

}

.headerNav__right {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &>ul {
    padding-left: 0;
  }
}

.headerNav__right__button {
  display: flex;
  border: none;
  background-color: white;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 0;
}

.cart-container {
  display: inline-block;
  position: relative;
}

.cart-container .cart-details {
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  padding: 20px 25px;
  width: 375px;
  z-index: 99999;
  background-color: white;
  border: 5px solid rgba(0, 0, 0, 0.044);
  border-width: 2px;
  border-radius: 10px;
  left: -1000% !important;
  top: 100%;
  display: none;

  &>p {
    font-weight: 500;
    font-size: 12px;
  }
}

.cart-container:hover .cart-details {
  display: block;
  opacity: 1;
  left: 0;
}

.cart-details {
  &>hr {
    margin-top: 20px;
    opacity: 0.3;
  }

  .order-price-container {
    display: flex;
    justify-content: space-between;
  }
}

.total-price {
  font-weight: 700;
}

.total-order-container {
  display: flex;
  justify-content: space-between;

  &>p:last-child {
    font-weight: 600;
  }
}

.cart-item {
  transform: translateX(0);
  /* Start with no translation */
  transition: transform 0.3s ease-in-out !important;
  font-size: 24px !important;
}

.cart-text {
  position: absolute;
  left: -130% !important;
  /* Initially, text is off to the right */
  opacity: 0;
  text-wrap: nowrap;
  font-weight: 500;
  top: 26% !important;
  /* Initially, text is hidden */
  transition: left 0.3s ease, opacity 0.2s ease-in-out;
  transform: translateX(-10px) !important;
  pointer-events: none;

  &:active {
    color: white !important;
  }
}

.cart-product-link {
  text-decoration: none;
}

.cart-product-container {
  display: flex;
  cursor: pointer;
  gap: 15px;
  margin-bottom: 10px;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: red;
    text-decoration: none;
  }

  &>.col1 {
    flex: 0.7;
  }

  &>.col2 {
    flex: 2;

    &>p {
      font-size: 13px;
      font-weight: 600;
      text-decoration: none !important;
    }

    .col2-container {
      display: flex;
      justify-content: space-between;
      max-width: 130px;

      &>p {
        font-size: 13px;
        font-weight: 300;
        margin: 0px 13px 5px 10px;
      }

      &>p:first-of-type {
        min-width: 100px;
      }

      &>p:nth-of-type(2) {
        margin-left: -10px;
      }
    }
  }
}



.cart-container:hover .cart-item {
  transform: translateX(-80px) !important;
  /* Move the icon to the left on hover */
}

.cart-container:hover .cart-text {
  left: 0;
  /* Slide the text in from the right */
  opacity: 1;
  text-decoration: underline;
  /* Make the text visible*/
}

.fav-container {
  position: relative;
}

.fav-item {
  font-size: 24px !important;
}

.fav-text {
  position: absolute;
  left: 0%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, left 0.2s ease-in-out;
  font-weight: 500;
  transform: translateY(15%);
}

.fav-container:hover .fav-text {
  left: 100%;
  opacity: 1;
}


.headerNav__right>ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

.headerNav__right>ul>li {
  text-decoration: none;

  &>a>.favorites {
    margin-bottom: 2.65px;
  }
}

.close-menu {
  display: none;
  margin-right: 18px;
}

.mobile-fav {
  display: none;
}




@media(max-width:700px) {
  .cart-details {
    display: none !important;
  }

  .headerNav {
    justify-content: space-between;
  }

  .mobile-fav {
    display: block;
  }

  .cart-container:hover .cart-item {
    transform: unset !important;
    /* Move the icon to the left on hover */
  }

  .burger-menu {
    display: block;
    font-size: 1.7rem;
  }

  .headerNav__left>ul>li {
    display: none;
  }


  .headerNav__middle>a>.logo {
    width: 95px;
    transform: translateX(30%);
  }

  .headerNav__right {
    display: flex;
    transform: translateX(10%);
    align-items: center;
  }

  .headerNav__right__button>svg {
    font-size: 2rem;
  }


  .headerNav__right__button-text {
    display: none;

  }

  .burger-menu {
    cursor: pointer;
    padding: 10px;
    margin-left: -10px;
  }

  .close-menu {
    display: block;
    cursor: pointer;
    font-size: 1.2rem;
    // margin-right: 8px;
  }
}