.headerNav {
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;
}

.headerNav__left>ul {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  margin: 0;
}

.headerNav__left>ul>li {
  margin-right: 16px;
}

.headerNav__left>ul>li>a {
  text-decoration: none;
  font-weight: 500;
  color: initial;
  padding: 5px 0;
}

.headerNav__left>ul>li:last-of-type {
  display: flex;
  align-items: center;
}

.horizon-icon {
  border: none;
  top: 40.5px;
  background-color: white;
  cursor: pointer;
  transform: translateY(10%);
}

.burger-menu {
  display: none;
}

.headerNav__middle>a>.logo {
  width: 120px;
}

.headerNav__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNav__right__button {
  display: flex;
  border: none;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 0;
}

.headerNav__right>ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

.headerNav__right>ul>li {
  text-decoration: none;
}

.close-menu {
  display: none;
}






@media(max-width:700px) {
  .headerNav {
    justify-content: space-between;
  }

  .burger-menu {
    display: block;
    font-size: 1.7rem;
  }

  .headerNav__left>ul>li {
    display: none;
  }


  .headerNav__middle>a>.logo {
    width: 90px;
  }

  .headerNav__right {
    display: flex;
    align-items: center;
  }

  .headerNav__right__button>svg {
    font-size: 2rem;
  }


  .headerNav__right__button-text {
    display: none;

  }

  .burger-menu {
    cursor: pointer;
    padding: 10px;
    margin-left: -10px;
  }

  .close-menu {
    display: block;
    cursor: pointer;
    font-size: 1.2rem;
    // margin-right: 8px;
  }
}