.flow-campaign {
  position: relative;
  margin-bottom: 20px;

  .image-container {
    height: 640px;
    overflow: hidden;
  }

  img {
    max-width: 100%;
    height: auto !important;
  }

  h1 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    right: 50%;
    transform: translateX(50%);
    font-size: 6.5rem;
    letter-spacing: 40px;
    text-shadow: 0 0 60px rgba(255, 255, 255, 0.7);
  }

  font {
    position: absolute;
    bottom: 23%;
    right: 50%;
    transform: translateX(50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white !important;
    font-size: 1.1rem;
    text-shadow: 0 0 60px rgba(255, 255, 255, 0.7);
  }

  .button {
    right: 50%;
    transform: translateX(50%);
    bottom: 10%;
  }
}

@media (max-width:700px) {
  .flow-campaign {
    &>font {
      display: none;
    }

    img {
      filter: blur(1px);
    }
  }

  .image-container {
    height: unset !important;
  }

  .flow-title {
    left: -30% !important;
    bottom: 12% !important;
  }

  .image-container>font {
    display: none;
  }

  .button {
    display: none;
  }
}