.settings-text {
  font-weight: 600;
  font-size: 23px;
}

.shopping-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 16px 24px;
  background-color: rgba(237, 237, 237, 0.444);


  header {
    margin-top: 20px;
    margin-right: auto;

    h3 {
      font-size: 16px;
    }
  }

  article {
    padding: 24px;
    flex-direction: column;
    width: 100%;

    &>p {
      font-size: 11px;
      margin: 0 0 0 auto;
      font-family: 'Poppins', sans-serif;
    }

    &>a {
      text-decoration: none;
      font-weight: 500;
      display: inline-block;
      margin-top: 15px;
    }
  }
}