a,
font,
span {
  color: #222222e9 !important;
}

h1 {
  font-size: 1.6rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  // margin-top: unset;
  // margin-bottom: unset !important;
}

.loader {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  z-index: -99999;
  animation: fadeOut 0.4s 0.4s;
  animation-fill-mode: forwards;
}



.modal-open {
  overflow-y: hidden !important;
}

.clip-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
}


// $gap-size: 4px;

// .products-wrapper {
//   display: flex;
//   margin-top: 40px;
//   flex-wrap: wrap;
//   gap: 4px;

//   p {
//     flex-basis: calc(25% - #{$gap-size});
//     background-color: red;
//   }
// }