@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-SemiBold.woff2) format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Bold.woff2) format('woff2');
  font-weight: 700;
}


a,
font,
span {
  color: #222222;
  font-size: 0.89rem;
  font-family: 'Poppins';
}

h1 {
  font-size: 1.35rem;
  font-family: 'Poppins';
  font-weight: 600;
  // margin-top: unset;
  // margin-bottom: unset !important;
}

.loader {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  z-index: 999999999;
  animation: fadeOut 0.4s 0.4s;
  animation-fill-mode: forwards;
}



.modal-open {
  overflow-y: hidden !important;
}

.clip-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
}

p {
  font-family: 'Poppins';
  font-size: 16px;
  margin: 10px;
}

hr {
  opacity: 0.4;
}



select {
  font-family: 'Poppins';
  color: #000 !important;
  margin-top: 3px;
  padding: 13px;
  width: 100%;
}

h3,
h4 {
  font-family: 'Poppins';
  font-weight: 600;
}

input,
input[type="date"] {
  color: rgb(0, 0, 0);
  font-size: 13px;
  text-align: left;
  width: 100% !important;
  font-family: 'Poppins';
  margin-top: 5px;
  font-weight: 300;
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.307);
  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
  outline: none;
}

input[type="checkbox"] {
  width: unset !important;
  margin: 0;
  font-family: 'Poppins';
  cursor: pointer;
}


.remember-me-text {
  font-size: 1rem;
}




// $gap-size: 4px;

// .products-wrapper {
//   display: flex;
//   margin-top: 40px;
//   flex-wrap: wrap;
//   gap: 4px;

//   p {
//     flex-basis: calc(25% - #{$gap-size});
//     background-color: red;
//   }
// }