html {
  font-size: 78%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  letter-spacing: 0.5px;
  min-height: 100%;
  display: block;
  overflow-x: hidden;
}