// .cart-container {
//   opacity: 0;
// }

.cart-title {
  text-align: center;
  padding: 32px;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: #222222;
  margin: 0;
}

.cart-content {
  display: flex;

  .left {
    background-color: rgba(245, 245, 245, 0.524);
    padding: 32px;
    flex: 4;
    margin-right: 24px;

    .cart-content-title {
      font-size: 28px;
      padding: 0;
      text-align: start;
      margin-bottom: 5px;
    }

    .log-in {
      display: block;
      padding-top: 24px;

    }
  }

  .right {
    background-color: rgba(245, 245, 245, 0.524);
    padding: 32px 24px;
    flex: 2;
  }


}