.cart-container {
  opacity: 0;
}

.cart-title {
  text-align: center;
  padding: 32px;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: #222222;
  margin: 0;
}

.cart-content {
  display: flex;

  .left {
    background-color: red;
    height: 200px;
    padding: 32px;
    flex: 8;
    margin-right: 24px;
  }

  .right {
    background-color: yellow;
    height: 200px;
    padding: 32px 24px;
  }
}