.account-page {
  display: flex;
  margin-top: 40px;
  ;

  .left-side-account-page {
    flex: 1;

    &>h1 {
      font-size: 18px;
      font-weight: 600;

    }

    .boxes:first-of-type {
      margin-top: 60px;
    }

    .boxes {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 16px;
      margin-bottom: 10px;
      // background-color: rgb(240, 240, 240);
      text-decoration: none;

      &>font {
        font-size: 12px;
      }

      &>svg {
        font-size: 24px;
        margin-right: 10px;
      }

      .right-arrow {
        width: 9px;
        margin-left: auto;
      }
    }
  }
}

.active-link {
  background-color: rgb(240, 240, 240);
  font-weight: 600;
}


.right-side-account-page {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  align-items: center;

  h1,
  h3 {
  }

  h3 {
    display: inline;
    font-size: 13px;
  }

}