.signIn-page {
  margin-top: 50px;
}


header {
  h1 {
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 16px;
  }

  p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 26px;
    text-wrap: wrap;
    max-width: 456px;
    margin: 0 auto;
    font-weight: 500;
  }
}

.astroid {
  color: #d6001c !important;
  font-size: 14px;
}

.email-password-title {
  font-weight: 500;
}

.sign-in-container {
  form {
    width: 100%;

    .label-wrapper {
      margin-bottom: 20px;
    }
  }

  padding: 24px 48px;
  display: flex;
  justify-content: center;
  max-width: 444px;
  margin: 0 auto;

  .error-input {
    border-color: red;
  }

  .email-error-texts {
    color: red !important;
    display: block;
  }

  button {
    margin-bottom: 5px;
  }


  input {
    font-family: Avenir, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 13px;
    text-align: left;
    width: 100%;
    margin-top: 5px;
    font-weight: 300;
    padding: 13px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.307);
    box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
    outline: none;
  }


  input[type="checkbox"] {
    width: unset !important;
    margin: 0;
  }


  .remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
    transform: translateY(-5px);

    span {
      font-weight: 500 !important;
      transform: translateY(-1px);
    }
  }


  .register {
    background-color: white !important;

    &>a {
      color: #222222 !important;
    }
  }

  .eye-label {
    position: relative;

    .eye-button {
      position: absolute;
      border: 0;
      background: 0 0;
      top: 52%;
      right: 10px;
      padding: 10px;
      cursor: pointer;
    }
  }
}