.signIn-page {
  margin-top: 50px;
}


header {
  h1 {
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 16px;
  }

  p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 26px;
    text-wrap: wrap;
    max-width: 456px;
    margin: 0 auto;
    font-weight: 500;
  }
}

.astroid {
  color: #d6001c !important;
  font-size: 14px;
}

.email-password-title {
  font-weight: 500;
}

.sign-in-container {
  form {
    width: 100%;

    .label-wrapper {
      margin-bottom: 20px;
    }
  }

  padding: 24px 48px;
  display: flex;
  justify-content: center;
  max-width: 444px;
  margin: 0 auto;

  .error-input {
    border-color: red;
  }

  .email-error-texts {
    color: red !important;
    display: block;
  }

  button {
    margin-bottom: 5px;
  }



  .forgot-password-container {
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>label {
      transform: translateY(10%);
    }
  }

  .register {
    background-color: white !important;

    &>a {
      color: #222222 !important;
    }
  }

  .eye-label {
    position: relative;

    .eye-button {
      position: absolute;
      border: 0;
      background: 0 0;
      top: 52%;
      right: 10px;
      padding: 10px;
      cursor: pointer;
    }
  }
}


@media (max-width:700px) {
  .forgot-password-container {
    display: block !important;
  }

  input[type="checkbox"] {
    display: inline !important;
    width: 50px;
  }
}